@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
:root {
    --primary: #3CB815;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
}

.header-container{
    background-image: url(/img/carousel-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.header-container .address{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    padding: 0px 48px;
}
.header-container .address .address-local i{
    margin: 0px 8px 0px 0px;
}
.header-container .address .address-local p{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 24px 0px 0px;
}
.header-container .address .address-social p{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.header-container .address .address-social a{
    color: #555;
    margin: 0px 0px 0px 16px;
}
hr{
    color: #555;
    border: none;
}
.header-container .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
}
.header-container .nav-menu .logo{
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #3CB815;
}
.header-container .nav-menu span{
    color: #F65005;
}
.header-container .links {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.header-container .links a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #111;
    padding: 25px 15px;
}
.header-container .links .icons{
    display: flex;
}
.header-container .links .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    width: 32px;
    height: 32px;
    color: #555;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.banner-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 100%;
}
.banner-text-container .banner-text-content h1{
    font-size: 4.5rem;
    font-family: 'Lora', serif;
    margin: 0px 0px 48px;
    color: #111;
}
.banner-text-container .banner-text-content .button-green{
    font-weight: 500;
    transition: .5s;
    padding: 1rem 3rem 1rem 3rem;
    background-color: #3CB815;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50rem;
}
.banner-text-container .banner-text-content .button-red{
    font-weight: 500;
    transition: .5s;
    margin: 0rem 0rem 0rem 1rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: #F65005;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50rem;
}
.banner-container{
    background-color: antiquewhite;
}
.section1-container{    
    background-color: white;
    display: flex;
    justify-content: center;
}
.article1-content{
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: .75rem;
    padding-right: .75rem;
}
.article1-content img{
    width: 564px;
    margin: 48px 0px 0px;
    padding: 0px 24px;
}
.article1-content-description{
    margin: 48px 0px 0px;
    padding: 0px 24px;
}
.article1-content-description h2{
    margin: 0px 0px 24px;
}
.article1-content-description i{
    color: #3CB815;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 16px;
    margin-right: 1rem;
}
.article1-content-description p{
    margin: 0px 0px 24px;
}
.article1-content-description button{
    background-color: #3CB815;
    margin: 16px 0px 0px;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50rem;
    border: 1px solid #3CB815;
    color: #ffff;
    cursor: pointer;
}
.article2{
    border: 1px solid orangered;
    background-color: grey;
    grid-template-rows: 3;
}
.article3{
    border: 1px solid orangered;
    background-color: blueviolet;
}
.article4{
    border: 1px solid orangered;
    background-color: greenyellow;
}
.article5{
    border: 1px solid orangered;
    background-color: grey;
}
.article6{
    border: 1px solid orangered;
    background-color: white;
}

.footer-container .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #999;
    /* width: 1344px; */
    margin: 48px 0px 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 12px 0px;
}